.settings
bin
.classpath
.project
.springBeans
.class
output
out
build
target
.metadata
.recommenders
/output.txt

.idea/**
**.project
.settings/**
**.iml
*/target/**
output/**
/singleton.tmp
/singleton-enum.tmp
